# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Data science tools
- evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. scikit-learn
4. ggplot2
5. caret
6. keras

| Data Science Tools |
| ------------- |
| Jupyter Notebook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Ayodele kayode emmanuel